body{
    background-color: #0C2340;
    color: #E87722;
}

.container{
     background-color: #E87722;
     color: #0C2340;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}